.App{
  margin-left: 10rem;
  margin-right: 10rem;
}

@media screen and (max-width: 755px) {
  .App {
    margin-left: 2rem;
  margin-right: 2rem;
  }
}
@media screen and (max-width: 780px) {
  .App {
    margin-left: 10px;
  margin-right: 10px;
  }
}